{% extends 'base.html' %}
{% block name %}
KFU
{%  endblock %}
{% block content_title %}
Unics
{%  endblock %}
{% block content %}
<head><a href="{{ url_for('index') }}">KFU</a><title></title></head>
<body>
Description...
</body>
<head><a href="url">KAI</a><title></title></head>
<body>
Description...
</body>
{%  endblock %}