{% extends 'base.html' %}
{% block name %}
KFU
{%  endblock %}
{% block content_title %}
KFU unic
<link rel="stylesheet" href="base.css">

<nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
    <a class="navbar-brand" href="#">Feedback on</a>
    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">Institute</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#item-1-1">Example 1</a>
            <a class="nav-link ms-3 my-1" href="#item-1-2">Example 2</a>
        </nav>
        <a class="nav-link" href="#item-2">Teachers</a>
        <a class="nav-link" href="#item-3">Вormitory</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#item-3-1">Example 3</a>
            <a class="nav-link ms-3 my-1" href="#item-3-2">Example 4</a>
        </nav>
    </nav>
</nav>

<div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
    <h4 id="item-1">Institute</h4>
    <p></p>
    <h5 id="item-1-1">Example 1</h5>
    <p>...</p>
    <h5 id="item-1-2">Example 2</h5>
    <p>...</p>
    <h4 id="item-2">Teachers</h4>
    <p>...</p>
    <h4 id="item-3">Вormitory</h4>
    <p>...</p>
    <h5 id="item-3-1">Example 3</h5>
    <p>...</p>
    <h5 id="item-3-2">Example 4</h5>
    <p>...</p>
</div>
{%  endblock %}
{% block content %}
35
{%  endblock %}